@model Asyk

<div class="col-lg-4">
    <img class="img-thumbnail" src=" @Model.AsykImage " alt="@Model.AsykName" />
    <h2>@Model.AsykName</h2>
    <p>@Model.AsykShortDesc</p>
    <p>Бағасы: @Model.AsykPrice.ToString() ₸</p>
    <p><a class="btn btn-warning" asp-controller="AsykShopCart" asp-action="AddToCartController" asp-route-id="@Model.Id">Себетке салу</a></p>
</div>