@model Asyk

<div class="col-lg-4">
    @if (Model.AsykImageData != null)
    {
        <img width="220" height="220" src='@Url.Action("GetAsykImage", "Asyk", new { asykId = Model.Id })' /> <!--second way to make it is: src="data:image;base64,@System.Convert.ToBase64String(Model.AsykImageData)"-->
    }
    <h2>@Model.AsykName</h2>
    <p>@Model.AsykShortDesc</p>
    <p>Бағасы: @Model.AsykPrice.ToString() ₸</p>
    <p><a class="btn btn-warning" asp-controller="AsykShopCart" asp-action="AddToCartController" asp-route-id="@Model.Id">Себетке салу</a></p>
</div>